<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EZ Presence</title>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
  <script src={{url_for('static', filename='FirebaseInitializer.js')}}></script>
  <script src={{url_for('static', filename='QR_Generation.js')}}></script>
  <script src={{url_for('static', filename='navbar.js')}}></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
  </head>
<body>
  <div id="navbar">
    <div id='login_dropdown' class="navbar_content dropdown_field" style="float: right;">
      <span>Login</span>
      <div class="dropdown_content" style="right: 0;">
        <label for="Email">Enter Email:</label>
        <input id="Email" type="email">
        <br>
        <label for="Pass">Enter Password:</label>
        <input id="Pass" type="password">
        <br>
        <button onclick="LogUserIn(this.parentNode)">Log in</button>
        <br>
        <span>If you do not have an account, <br>email an <a href="mailto:someone">administrator</a></span>
      </div>
    </div>
    <div id="profile_dropdown" class="navbar_content dropdown_field" style="float: right; display: none;">
      <span id="profile_name">Profile</span>
      <div class="dropdown_content" style="right: 0;">
        <span class="selectable_option" onclick="LogUserOut()">Logout</span>
      </div>
    </div>
  </div>
  <div class="content_area">
    <div id="login_notice">
      <h1>You're going to have to log in first</h1>
    </div>
    <div id="session_creation" style="display: none;">
      <h1>Create session</h1>
      <div id="class_collection"></div>
    </div>
    <div id="session_view" style="display: none;">
      <h1 id="session_class">session_ID</h1>
      <div id="session_code"><h3>Please wait</h3></div>

    </div>
  </div>
</body>
</html>
