
  {% extends 'base.html' %}
  {% block header %}
  <title>Dashboard demo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
  <script src={{url_for('static', filename='QR_Generation.js')}}></script>
  {% endblock %}
  {% block body %}
  <div class="content_area">
    <div id="login_notice">
      <h1>You're going to have to log in first</h1>
    </div>
    <div id="session_creation" style="display: none;">
      <h1>Create session</h1>
      <div id="class_collection"></div>
    </div>
    <div id="session_view" style="display: none;">
      <h1 id="session_class">session_ID</h1>
      <div id="session_code"><h3>Please wait</h3></div>
    </div>
{% endblock %}
