.button {
  text-align: center;
  border-radius: 5px;
  font-family: sans;
  text-decoration: none;
  display: inline-block;
}

.button_medium {
  height: 32px;
  width: 128px;
  line-height: 32px;
  font-size: 16px;
}

.button_large {
  height: 48px;
  width: 192px;
  line-height: 48px;
  font-size: 18px;
}

.button_normal {
  border: 2px solid hsl(230, 49%, 41%);
  background-color: hsl(221, 68%, 93%);
  color: hsl(230, 49%, 41%);
}

.button_important {
  background-color: hsl(230, 49%, 41%);
  border: 2px solid hsl(230, 49%, 41%);
  color: hsl(216, 33%, 97%);
}

.clickable {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
}

.clickable:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body {
  background-color: hsl(216, 33%, 97%);
}

.nav__flex {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.hero__content {
  width: 960px;
  height: 512px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__text {
  width: 512px;
  height: 192px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__maintext {
  font-weight: bold;
}

.hero__photo {
  width: 384px;
  height: 384px;
  border-radius: 50%;
  overflow: hidden;
}

.hero__photo img {
  margin-left: -64px;
}

.hero__buttons a:first-child {
  margin-right: 24px;
}
