body {
  background-color: hsl(216, 33%, 97%);
}

.nav__flex {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  width: 48px;
  height: 48px;
}

.nav__acct {
  height: 32px;
  width: 128px;
  line-height: 32px;
  text-align: center;
  border: 2px solid hsl(230, 49%, 41%);
  border-radius: 5px;
  background-color: hsl(221, 68%, 93%);
  font-family: sans;
  text-decoration: none;
  color: hsl(230, 49%, 41%);
  font-size: 16px;
}

.hero__content {
  width: 960px;
  height: 512px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__text {
  width: 512px;
  height: 192px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__signup {
  height: 48px;
  width: 192px;
  display: inline-block;
  line-height: 48px;
  text-align: center;
  background-color: hsl(230, 49%, 41%);
  border: 2px solid hsl(230, 49%, 41%);
  border-radius: 5px;
  font-family: sans;
  text-decoration: none;
  color: hsl(216, 33%, 97%);
  font-size: 18px;
  margin-right: 24px;
}

.hero__login {
  height: 48px;
  width: 192px;
  display: inline-block;
  line-height: 48px;
  text-align: center;
  border: 2px solid hsl(230, 49%, 41%);
  border-radius: 5px;
  background-color: hsl(221, 68%, 93%);
  font-family: sans;
  text-decoration: none;
  color: hsl(230, 49%, 41%);
  font-size: 18px;
}

.hero__maintext {
  font-weight: bold;
}

.hero__photo {
  width: 384px;
  height: 384px;
  border-radius: 50%;
  overflow: hidden;
}

.hero__photo img {
  margin-left: -64px;
}
